* {
  margin: 0;
}

body {
  background-color: #b6aeae;
}

.container {
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 95%;
  -ms-grid-columns: 32vw 28vw 36vw;
      grid-template-columns: 32vw 28vw 36vw;
  -ms-grid-rows: 49vh 49vh;
      grid-template-rows: 49vh 49vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container .section {
  background-color: #eeeef1;
  width: auto;
  height: auto;
  text-align: center;
  font-size: 40px;
  border: 1px black solid;
  outline-style: 1px black solid;
}

.container .sec2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .sec2 .accu {
  font-size: 50px;
}

.container .sec2 #total {
  font-size: 90px;
  margin: 25px 0px 15px 0px;
}

.container .sec3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .sec3 canvas {
  width: 100%;
  max-width: 800px;
  height: 95%;
  max-height: 200px;
}

.container .sec4 {
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .sec4 .txt {
  margin-left: 60px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.container .sec4 .secc4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 60px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.container .sec4 .secc4 #avg {
  font-size: 105px;
}

.container .sec4 .secc4 #sc {
  font-size: 100px;
  margin: 20px 10px 0px 0px;
}

.container .sec5 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1100px) {
  .container {
    width: 100%;
    height: 95%;
  }
  .sec1 {
    display: none;
  }
  .sec2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    grid-row: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sec5 {
    -ms-grid-row: 3;
    grid-row: 3;
    display: none;
  }
  .sec5 h1 {
    display: none;
  }
  .sec3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sec4 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    grid-row: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sec4 .secc4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 60px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .sec4 .secc4 #avg {
    font-size: 35px;
  }
  .sec4 .secc4 #sc {
    font-size: 30px;
  }
}
/*# sourceMappingURL=style.css.map */