* {
  margin: 0;
}

body {
  background-color: white;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header .c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 12%;
  height: 44px;
  background-color: white;
}

.header .c h4 {
  color: #00ccff;
  font-weight: bolder;
}

.header .o {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 88%;
  height: 44px;
  background-color: #1e3274;
}

.header .o h4 {
  margin-left: 1%;
  color: white;
  font-weight: bolder;
}

.option {
  margin-top: 5px;
  width: 100%;
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.option .opt1 {
  width: 18%;
  height: 53px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.option .opt1 select {
  margin-top: 1%;
  width: 90%;
  height: 46%;
  font-weight: bolder;
}

.option .opt1 select option {
  margin-left: 12px;
}

.option .opt2 {
  width: 20%;
  height: 56px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.option .opt2 h4 {
  margin-top: 1%;
}

.option .opt2 input {
  margin-top: 1%;
  width: 80%;
  height: 36%;
}

.container {
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 95%;
  -ms-grid-columns: 32vw 28vw 36vw;
      grid-template-columns: 32vw 28vw 36vw;
  -ms-grid-rows: 40vh 39vh;
      grid-template-rows: 40vh 39vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container .section {
  background-color: white;
  width: auto;
  height: auto;
  text-align: center;
  font-size: 40px;
  border: 1px black solid;
  outline-style: 1px black solid;
}

.container .sec1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .sec1 .progress {
  position: relative;
  height: 185px;
  width: 185px;
  border-radius: 50%;
  background: conic-gradient(#132257 130.6deg, #00ccff 0deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .sec1 .progress::before {
  content: "";
  position: absolute;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background-color: white;
}

.container .sec1 .progress-val {
  position: relative;
  font-weight: bolder;
}

.container .sec2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .sec2 .accu {
  font-size: 50px;
}

.container .sec2 #total {
  font-size: 90px;
  margin: 25px 0px 10px 0px;
}

.container .sec3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .sec3 button {
  width: 250px;
  height: 80px;
  margin: 0 60px 0 60px;
  font-size: 20px;
  font-weight: bold;
}

.container .sec3 button:hover {
  cursor: pointer;
}

.container .sec3 #start-btn {
  background-color: green;
}

.container .sec3 #stop-btn {
  background-color: red;
}

.container .sec4 {
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .sec4 .txt {
  margin-left: 60px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.container .sec4 .secc4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 60px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.container .sec4 .secc4 #avg {
  font-size: 105px;
}

.container .sec4 .secc4 #sc {
  font-size: 100px;
  margin: 20px 10px 0px 0px;
}

.container .sec5 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .sec5 canvas {
  width: 100%;
  max-width: 850px;
  height: 95%;
  max-height: 250px;
  font-weight: bolder;
}

@media screen and (max-width: 1100px) {
  .container {
    width: 100%;
    height: 95%;
  }
  .sec1 {
    display: none;
  }
  .sec2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    grid-row: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sec2 .accu {
    font-size: 30px;
  }
  .sec2 #total {
    font-size: 50px;
    margin: 25px 0px 15px 0px;
  }
  .sec5 {
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .sec3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sec3 button {
    width: 200px;
    height: 40px;
  }
  .sec4 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 2;
    grid-row: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sec4 .secc4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 60px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .sec4 .secc4 #avg {
    font-size: 35px;
  }
  .sec4 .secc4 #sc {
    font-size: 30px;
  }
}
/*# sourceMappingURL=style.css.map */